body{
    background-color:$color-principal;
    color:$color-claro;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
  }

body { 
    background-image: $fondo
  }