.derechos {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 100;
    margin-left: 15px;
  }

.derechos-fueraindex {
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  font-weight: 100;
  margin-left: 0;
}

.mapa {
    display: grid;
    justify-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
  } 

.hamburguesa {
    display: none;
    margin: 40px 40px 0px 0px ;
    text-decoration: none;
    color: $color-claro;
  }

.close__enlace {
    display: none;
  }
.navulitems-close {
    display: none;
  }
.jam-close-circle {
    display: none;
  }

button {
    font-size: initial;
  }

