.lista1 {
    /* margin-top: 100px; */
    display: inline-block;    
  }
  
  .lista2 {
    /* margin-top: 100px; */
    display: inline-block;
  }
  
  .lista3 {
    /* margin-top: 100px; */
    display: inline-block;
  }
  
  .lista4 {
    /* margin-top: 100px; */
    display: inline-block;
  }

.lista {
    border: 5px solid $color-oscuro;
    border-radius: 14px;
    color: $color-oscuro;
    margin-left: 50px;
    margin-top: 30px;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 222, 179);
  }

ul {
    margin-bottom: 0;
    margin-top: 0;
  }

  .lista1__cafes {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    border: 5px solid $color-oscuro;
    border-radius: 14px;
    width: 250px;
    color: $color-oscuro;
    list-style: none;
    padding-left: 5px;
    background-color: rgb(245, 222, 179);
    text-transform: uppercase;
  }

.lista2__comida {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    border: 5px solid $color-oscuro;
    border-radius: 14px;
    width: 250px;   
    color: $color-oscuro;
    list-style: none;
    padding-left: 5px;
    background-color: rgb(245, 222, 179);
    text-transform: uppercase;
  }

.lista3__bebidas {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    border: 5px solid $color-oscuro;
    border-radius: 14px;
    width: 250px;   
    color: $color-oscuro;
    list-style: none;
    padding-left: 5px;
    background-color: rgb(245, 222, 179);
    text-transform: uppercase;
  }

.lista4__bebidas {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    border: 5px solid $color-oscuro;
    border-radius: 14px;
    width: 250px;   
    color: $color-oscuro;
    list-style: none;
    padding-left: 5px;
    background-color: rgb(245, 222, 179);
    text-transform: uppercase;
    transition: .1s;
  }