@media screen and (max-width: 1000px) {
    .crearcomunidad {
        font-size: 55px;
    }
    .educar {
        font-size: 55px;
    }
    .integraroutsiders {
        font-size: 55px;
    }
}

@media screen and (max-width: 900px) {
    .bloque1 {
        justify-content: center;
    }
    .crearcomunidad {
        margin-left: auto;
    }
    .icono1 {
        margin-right: auto;
        height: 200px;
    }
    .bloque2 {
        justify-content: center;
    }
    .educar {
        margin-right: auto;
    }
    .icono2 {
        margin-left: auto;
        height: 200px;
    }
    .bloque3 {
        justify-content: center;
    }
    .integraroutsiders {
        margin-left: auto;
    }
    .icono3 {
        margin-right: auto;
        height: 200px;
    }
}

@media screen and (max-width: 600px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
    .nav {
        display: none;
    }
  
    #lateral {
        display: block;
        background-color: $color-principal;
        height: 100vh;
        margin: 0;
        text-align: center;
        position: fixed;
        z-index: 999;
        top: 0;
        right: -100%;
        transition: right 0.7s;
        width: 80%;
    }
  
    #lateral:target {
        right: 0;
    }
    
    .pie .pie__promocion {
        font-size: 15px;
        margin-right: 25px;
    }
    
    .pie .pie__formulario {
        margin-right: 25px;
    }
    
    .pie .pie__formulario--completar {
        height: 25px;
        width: 120px;
    }
    
    .pie__formulario--boton {
        height: 25px;
        width: 50px;
    }
    
    .pie__formulario--boton:hover {
        background-color: $color-principal;
        transform:translateX(5px);
    }

    .pie__formulario--ingresar {
        font-size: 15px;
    }
    
    .hamburguesa {
        display: block;
    }
    .presentacion {
        
    .presentacion__titulo {
        font-size: 100px;
        padding-bottom: 20px;
    }
    .presentacion__subtitulo {
        font-size: 35px;
        padding-bottom: 10px;
    }
    .presentacion__adicional {
        font-size: 25px;
    }
}
    .redes {
        flex-direction: column;
        padding-right: 0px;
        margin-top: 150px;

    .redes__twitter {
        height: 90px;
        width: 90px;
    }
    .redes__instagram {
        height: 90px;
        width: 90px;
    }
    .redes__telegram {
        height: 90px;
        width: 90px;
    }
    }   
    .pie__logo {
        width: 100px;
        height: 100px;
    }
    
    h6 {
        font-size: 20px;
    }
  
    .mapa {
        display: flex;
        flex-direction: column;
    }
  
    .segundaparteindex {
        padding-bottom: 0px;

    }
    .imgsegundaparteindex{
        width: 300px;
        height: 200px;
    }
  
  
    .jam-close-circle {
        display: block;
        color: $color-claro;
        text-decoration: none;
    }
  
    .close__enlace {
        display: block;
        text-decoration: none;
    }
  
    .navulitems-close {
        display: block;
        text-decoration: none;
    }   
    .parrafoloc {
        font-size: 25px
    }
    .mapa {
        align-items: center;
    }
    .mapa-iframe {
        width: 300px;
        height: 300px;
    }
    .crearcomunidad {
        font-size: 40px;
    }
    .educar {
        font-size: 40px;
    }
    .integraroutsiders{
        font-size: 40px;
    }
    .bloque1 {
        justify-content: center;
    }
    .bloque2 {
        justify-content: center;
    }
    .bloque3 {
        justify-content: center;
    }
    .icono1 {
        height: 150px;
    }
    .icono2 {
        height: 150px;
    }
    .icono3 {
        height: 150px;
    }
  }

  @media screen and (max-width: 450px) {
    .bloque1 {
        height: 400px;
    }
    .bloque2 {
        height: 400px;
    }
    .bloque3 {
        height: 400px;
    }
    .crearcomunidad {
        font-size: 30px;
    }
    .educar {
        font-size: 30px;
    }
    .integraroutsiders{
        font-size: 30px;
    }
    .bloque1 {
        justify-content: center;
    }
    .bloque2 {
        justify-content: center;
    }
    .bloque3 {
        justify-content: center;
    }
    .icono1 {
        height: 125px;
    }
    .icono2 {
        height: 125px;
    }
    .icono3 {
        height: 125px;
  }
  .presentacion {
        
    .presentacion__titulo {
        font-size: 75px;
        padding-bottom: 20px;
    }
    .presentacion__subtitulo {
        font-size: 25px;
        padding-bottom: 10px;
    }
    .presentacion__adicional {
        font-size: 18px;
    }
}
.redes {
    flex-direction: column;
    padding-right: 0px;
    margin-top: 100px;

.redes__twitter {
    height: 70px;
    width: 70px;
}
.redes__instagram {
    height: 70px;
    width: 70px;
}
.redes__telegram {
    height: 70px;
    width: 70px;
}
}
.parrafo {
    font-size: 15px;
}
.continuacionindex {
    font-size: 20px;
}
  }