@media screen and (max-width: 600px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
    .nav {
        display: none;
    }
  
    #lateral {
        display: block;
        background-color: $color-principal;
        height: 100vh;
        margin: 0;
        text-align: center;
        position: fixed;
        z-index: 999;
        top: 0;
        right: -100%;
        transition: right 0.7s;
        width: 80%;
    }
  
    #lateral:target {
        right: 0;
    }
  
    .hamburguesa {
        display: block;
    }
    .presentacion__titulo {
        font-size: 70px ;
        padding-bottom: 20px;
    }
    .presentacion__subtitulo {
        font-size: 40px;
        padding-bottom: 10px;
    }
    .presentacion__adicional {
        font-size: 25px;
    }
    .redes {
        flex-direction: column;
        margin-top: 7rem;
    }
    .pie {
        margin: 5px;
    }
    .pie__promocion {
        font-size: 20px;
    }
    
    .pie__formulario {
        font-size: 20px;
    }
    
    .pie__formulario--completar {
        height: 15px;
        width: 100px;
    }
    
    .pie__formulario--boton {
        height: 20px;
        width: 50px;
    }
  
    .pie__formulario--boton:hover {
        background-color: $color-principal;
        transform:translateX(5px);
    }
    
    .pie__logo {
        width: 100px;
        height: 100px;
    }
    
    h6 {
        font-size: 20px;
    }
  
    .mapa {
        display: flex;
        flex-direction: column;
    }
  
    .imgsegundaparteindex{
        width: 300px;
        height: 200px;
    }
  
  
    .jam-close-circle {
        display: block;
        color: $color-claro;
        text-decoration: none;
    }
  
    .close__enlace {
        display: block;
        text-decoration: none;
    }
  
    .navulitems-close {
        display: block;
        text-decoration: none;
    }
  }