.pie {
    margin-left: 50px;
    margin-top: 50px;

    .pie__promocion {
        font-weight:100;
      }
      
      .pie__formulario {
        font-size: 21px;
      }
      
      .pie__formulario--completar {
        height: 22px;
        width: 250px;
      }
  }

  h6 {
    font-size: 20px;
    font-weight: 100;
    padding-top: 15px;
  }

.footer {
    background-color: $color-oscuro;
    height: 3rem;
    text-align: center;
    background-image: radial-gradient(rgb(48, 24, 10), rgb(19, 9, 1));
  }