.redes { 
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    align-items: baseline;
    height: 40vh;
    align-items: center;

    .redes__twitter {
        width: 100px;
        height: 100px;
        margin: 10px;
    }
    
    .redes__instagram {
        width: 175px;
        margin: 10px;
    }
    
    .redes__telegram {
        width: 100px;
        height: 100px;
        margin: 10px;
    }
}
