h6 {
    font-size: 20px;
    font-weight: 100;
}

.derechos {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 100;
    margin-left: 15px;
}

.parrafosn {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    color: $color-claro;
}

.parrafoobj {
    color: black;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

.parrafoloc {
    color: black;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

.parrafo {
    font-size: 20px;
}

.segundaparteindex {
    padding-top: 30px;
    padding-bottom: 30px;
}


.continuacionindex {
    text-decoration: underline;
}


